body{
    background-size: cover;
}


.heading{
    width:100%;
    text-align: left;

}

.heading_3{
    display:inline;

}

.heading_buttton{
    color: rgb(255, 123, 0);
    float:right;
    border: 2px solid white;
    font-family: 'Bebas Neue', cursive;
}

#play{
    background-color:#b7fa6b;
    color: #fa6bb2;
    margin: 20px;
    border-radius:20px ;
    padding-left: 40px;
    padding-right: 40px;
}